BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AlignConsecutiveMacros: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakBeforeMultilineStrings: false
BreakStringLiterals: true
IndentCaseLabels: false
#IndentCaseBlocks: true <-- not supported on older clang-formats
Cpp11BracedListStyle: false
PointerAlignment: Right
SortIncludes: false
StatementMacros:
  - type_init
ForEachMacros:
- CPU_FOREACH
