BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AlignConsecutiveMacros: Consecutive
AllowShortIfStatementsOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakBeforeMultilineStrings: false
BreakStringLiterals: true
IndentCaseLabels: false
IndentCaseBlocks: true
Cpp11BracedListStyle: false
PointerAlignment: Right
SortIncludes: false
